.ya-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    .ya-about-pic {
        max-width: 400px;
        height: min-content;
        object-fit: contain;
        border-radius: 10px;
        flex: 1;
    }

    .ya-about-content {
        max-width: 600px;
        flex: 1 400px;
        height: min-content;
    }
}